ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: sticky;
  top: 0;
}

li {
	float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

a[id=helpLink]:hover {
	cursor: pointer;
}

li[id=logoutListEntry] {
	float: right;
}

li[id=searchListEntry] {
	padding-top: 13px;
	padding-right: 16px;
	padding-bottom: 13px;
	padding-left: 16px;
}

li a:hover {
	background-color: #111111;
}

div[id=navRightDiv] {
	float: right;
}

form[id=navSearchForm] {
	margin: 0;
	font-size: 10px;
}

input[id=navSearchInput] {
	font-size: 17px;
	border-radius: 5px;
	border-width: 2px;
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 4px;
}

button[id=navSearchButton] {
	border: none;
	color: white;
	background-color: #333333;
	cursor: pointer;
	font-size: 18px;
	height: 28px;
}